<h3>Thanks for joining!</h3>
<p>You should receive a receipt in your email shortly.</p>
<p>Keep an eye on your inbox for your invite to our next event, and</br>let us know if you have any questions!</p>
<p>Have a great day,<br><br>The Pacific Club</p>